# 1. Python Output :

In [3]:
#python is a case-sensitive language :
#Print("Hello World")  -> error
print("Hello World ! ")

Hello World !

In [5]:
#print(Donald Duck)

Without quotes, Python interprets Donald and Duck as variables or identifiers, but they aren‚Äôt defined, which raises a NameError

we can print multiple types of data types by print function :

In [6]:
print(777)

777

In [7]:
print(77,99)

77 99

In [8]:
# we can also print different types of datatypes at once :

print("Dolald Duck",77.99,77, True)

Dolald Duck 77.99 77 True

Q: why the answers are separeted with spaces ?
A : because inside print function there is a separator, and by default its valued with a space,
but we can overwrite it.

In [9]:
print("Dolald Duck",77.99,77, True , sep='/')

Dolald Duck/77.99/77/True

In [10]:
print("First line")
print("Second line")

First line
Second line

Q : why these two output came  in two lines ?
A : its again because of a setting inside print function which by default prints a new line , we can overwrite it as well.

In [11]:
print("First line",end='-')
print("Second line")

First line-Second line

# 2. Python Data-Types :

In [14]:
# Int :
print(77)
print(-99)
print(1e308) # limit
print(1e309)

77
-99
1e+308
inf

In [15]:
#Decimal/Float :
print(77.99)
print(-99,66)
print(1.7e308)#limit
print(1.7e309)

77.99
-99 66
1.7e+308
inf

In [16]:
# Boolean :
print(True)
print(False)

True
False

In [17]:
# Text/String :
print("Hola")
print('Hoomans')

Hola
Hoomans

In [18]:
# complex numbers :
print(7+9j)

(7+9j)

In [19]:
# List (similar to arrays)

print([1,2,3,4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [20]:
# Touple  :
print((1,2,3,4,5,6,7))

(1, 2, 3, 4, 5, 6, 7)

In [22]:
# Set :
print({1,2,3,4,5,6,7,7})

{1, 2, 3, 4, 5, 6, 7}

In [23]:
# Dictionary :
print({'name':'Alvi','gender':'male','Age':'22'})

{'name': 'Alvi', 'gender': 'male', 'Age': '22'}

In [26]:
# Type function :
#type(77)
#type("okay")
type(True)

bool

# 3.Python Variables :

Variables : they are containers for future use .

In [27]:
name = 'ALvi'
print(name)
a=99
b=77
print(a+b)

ALvi
176

In [28]:
# Dynamic typing : python interpreter automatically gives data type of the variable based on the given value
name = 'Monkey D Luffy'
age = 25

# Static typing : have to explicitly mention each datatype of the variable :
#string name = "Sheikh Mujib"

In [30]:
# Dynamic Binding : in python a variable can hold multiple types of data in the same program.

a="Duck"
print(a)
a=7777
print(a)


# Static Binding : a variable cant cant hold multiple types of data in the same program
#int a = 77
# a = "Donald"  - > error

Duck
7777

In [31]:
# cool ways of declaring variables :

a,b,c=1,2,3
print(a,b,c)

d=e=f=7;
print(d,e,f)

1 2 3
7 7 7

# 4. Keywords & Identifiers :

Keywords :

The code that we write , needs to be compiled to machine code because the machines/chips understand only machine lang.

compiler : compile the whole code to machine code at once.

interpreter : it compiles line by line

Now to understand the machine while compiling about the instructions that user gives , there are some reserved words ,
these reserved words are called keywords.

we cant create variable names same as keyword name
there are total 32 keywords in Python : if, True , False , ....

Identifiers:
Identifiers are the names that user gives to a varible , class ...

In [35]:
# identifer rules :

# 1 names cant start with digit :

#1age=7;
age1=9;

# 2 only one special char is allowed : _

_name='Donald'

print (_name)

_='Duck'
print(_);


# 3 Identifiers can not be keywords : if, True , else

Donald
Duck

# 5. User Input :

In [39]:
# Static vs Dynamic software :
# static : where user only receives information
# dynamic : where user gives input and can interact

# write a program , user gives two input and adds them

## steps :

#  take inputs from user
fnum=input('enter first num')
snum=input('enter second num')
#  add them
result=fnum+snum
#  print them
print(result)

# why result just added the two input as strings ?

print(type(fnum),type(snum))
# python stored the input as string : because string is a universal data format means any data type can be converted to string, so to get rid of unexpected error python converts the input into string

enter first num6
enter second num9
69
<class 'str'> <class 'str'>

# 6. Type Conversion :

In [41]:
# Implicit vs Explicit type conversion :

# Implicit : when python automatically detects the given data type

print(7+9.5) # two different datatypes
print(type(7),type(9.5))

#but it does not work always :
#print(7+'7')

16.5
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
# Explicit type conversion :

# str -> int

print(int('77'));
print(type(int('99')))

# int -> str

print(str(99))
print(type(str(100)))

# int -> float
print(float(78))
print(type(float(78)))



fnum=input('enter first num')
snum=input('enter second num')
#  add them
result=int(fnum)+int(snum) # explicit type conversion
#  print them
print(result)

# though we explicitly converted it into int but the actual data type is not changed.
# while explicit type convertion python creates a new variable with same desired value in memory and do calculation with that only

print(type(fnum),type(snum))


# another way of taking input :

#fnum1=int(input("enter first num : "));

77
<class 'int'>
99
<class 'str'>
78.0
<class 'float'>
enter first num7
enter second num99
106
<class 'str'> <class 'str'>

# 7.Literals :
literals are those that we store on variables .

In [57]:
# binary literal:
a = 0b110110011
print(a)

# decimal literal:
a=7777
print(a)

# octal literal :
a=0o6763
print(a)

# hexadecimal literal :
a=0xa1345c
print(a)

# float literal :
a=1.8
print(a)

a=1.7e3
print(a) # 1.7x10^3

a=1456e-3
print(a)

 # complex literal :

a=7+9j
print(a)
print(a.real,a.imag)

435
7777
3571
10564700
1.8
1700.0
1.456
(7+9j)
7.0 9.0

In [63]:
#String Literals :

str='its a string'
str1_="its also a string"
multiline_str='''
its a multiline
string

'''
uni=u"\U0001F601" #its used for more storing more broader char like emojis
raw_str=r"we can use \n here wihout giving a new line" # we can add newline(\n)


print(str)
print(str1_)
print(multiline_str)
print(uni)
print(raw_str)

its a string
its also a string

its a multiline
string


üòÅ
we can use \n here wihout giving a new line

In [64]:
#boolean literals :

a = True + 9
b= False + 8

print(a)
print(b)

10
8

In [65]:
# None : in python we cant declare variable for later use , if we do it will throw an error, so we can do this by the help of none

a = None

b=77
a=99
print(b+a)

176