# 1. Operators in Python :

1. Arithmetic
2. Relational
3. Logical
4. Bitwise
5. Assignment
6. Membership

In [ ]:
# arithmetic operators :
a,b=5,2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # int division : will keep only int and cut the decimal point part
print(a%b)  # remainder
print(a**b) # power

7
3
10
2.5
2
1
25

In [ ]:
#relational operators :
a,b=9,7

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [ ]:
#logical operators :
print(1 or 0)
print(1 and 0)
print(not 1)

1
0
False

In [ ]:
#bitwise operators :

#bitwise and :
print(2 & 3) # 010(2) and 011(3) = 010(2)

#bitwise or :
print(2|3) # 010(2) or 011(3) = 011(3)

#bitwise xor :
print(2^3) #010(2) xor 011(3) = 001(2)

#bitwise not :
print(~4) # 100 ~ -> 011 => 2s complement : 100 + 1 = -5

#right shift :
print(4>>2) # 1st right shift : 010 => 2nd right shift : 001

#left shift :
print(4<<2) # 1st right shift : 1000 => 2nd right shift : 10000

2
3
1
-5
1
16

In [ ]:
#assignment operators :
a = 77
a+=100
print(a)
a/=10
print(a)

# ++a / a++ does not work in python :(

177
17.7

In [ ]:
#membership operators : in/not in

print('k' in 'Dhaka')
print(9 not in [1,2,3,4])

True
True

In [ ]:
# program to find the sum of 3 digit number that entered by the user :

#Steps :

# take input of the 3 digit number :

num= int (input('enter a 3 digit num : '))

# discard 3 numbers from one number :

num1= num%10
num=num//10
num2=num%10
num=num//10
num3=num%10


# add those 3 numbers

res = num1+num2+num3

# print
print(res)

enter a 3 digit num : 167
14

# 2. IF-Else in Python :

In [ ]:
#log in program and indentation :
email = 'alvi.cs.uiu.ac.bd'
password  =  998877

getEmail=str(input('enter email : '))
getPass=int(input('enter pass : '))

if email==getEmail and password==getPass:
  print('log in successful')
elif email==getEmail and password!=getPass:
  print('invalid password ')
  getPass=int(input('enter pass agian : '))
  if(password==getPass):
    print("log in successful")
  else :
    print('log in failed !')
else :
  print('invalid email or password ! ')

enter email : alvi.cs.uiu.ac.bd
enter pass : 998877
log in successful

In [ ]:
# min of 3 numbers :
num1=int(input('enter first num : '))
num2=int(input('enter second num : '))
num3=int(input('enter third num : '))

if(num1<num2 and num1<num3):
  print(num1)
elif(num2<num3):
  print(num2)
else :
  print(num3)

enter first num : -8
enter second num : 99
enter third num : -888
-888

In [ ]:
#menu driven calculator :
a=int(input('enter first num : '))
b=int(input('enter second num : '))
op=str(input('enter operation : + or - or & * or / : '))

if op=='+':
  print(a+b)
elif op=='-':
  print(a-b)
elif op=='*':
  print(a*b)
else :
  print(a/b)

enter first num : 34
enter second num : 23
enter operation : + or - or & * or / : /
1.4782608695652173

# 3. Modules In Python :

modules are files which has pre-built functions in it, we can re use those functions by importing modules.

modules :
1. math
2. keywords
3. random
4. datetime

In [ ]:
#math :
import math
math.factorial(5)
math.floor(6.99)
math.sqrt(81)

9.0

In [2]:
#keyword :
# import keyword
# print(keyword.kwlist)

In [3]:
#random :
import random
print(random.randint(700,1000))

909

In [4]:
#datetime :
import datetime
print(datetime.datetime.now())

2024-11-08 05:43:06.708075

In [ ]:
#to find all the modules in python :
help('modules')

4. Loops in Python :

Q : In real life where loops being used ?
A : for example in an e-commerce site inside product where we need to show multiple products in scroll bar, where the format of how products are shown remains same.

Two types of loops in python:
1. While loop
2. For loop

In [ ]:
#while loop :

#program to print a table :
num=int(input('enter num : '))
i=1
while i<10:
  print(i*num,end=' ')
  i+=1

#https://pythontutor.com/render.html#mode=edit

enter num : 10
10 20 30 40 50 60 70 80 90

In [ ]:
#while loop with else :

i=1
while i<7:
  print(i,end=' ')
  i+=1
else :
  print('after loop')

1 2 3 4 5 6 after loop

In [6]:
#guessing game :
import random
rint=random.randint(1,100)
i=1;
while 1:
    n=int(input(f'{i}th attempt guess a number between 1 to 100 : '))
    i+=1
    if(n==rint):
      print('correct')
      break
    elif n<rint:
      print('guess higher')
      continue
    else:
      print('guess lower')
      continue

1th attempt guess a number between 1 to 100 : 67
guess lower
2th attempt guess a number between 1 to 100 : 34
guess lower
3th attempt guess a number between 1 to 100 : 23
guess lower
4th attempt guess a number between 1 to 100 : 15
guess lower
5th attempt guess a number between 1 to 100 : 7
correct

In [ ]:
#for loop demo :

for i in range(1,10): #(included , excluded)
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:

for i in range(1,10,2): #(included , excluded , step size)
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):#reverse
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in 'Dhaka':
  print(i)

D
h
a
k
a

In [ ]:
for i in [1,2,-88,44]:
  print(i)

1
2
-88
44

In [ ]:
for i in (1,2,3,4,6):
  print(i)

1
2
3
4
6

In [1]:
for i in {1,2,35,4,5}:
  print(i)

1
2
35
4
5

In [2]:
#Sequence sum: 1/1!+2/2!+3/3!+....
n=int(input('enter n : '))
fact=1
res=0
for i in range(1,n+1):
    fact*=i
    res+=i/fact
print(res)

2.7182818284590455

5.Nested Loops :

In [3]:
#pattern 1 : 
'''
n=3

*
**
***

'''

n=int(input('enter n : '))

for  i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******

In [4]:
#pattern 2 : 
'''
n=4

1
121
12321
1234321

'''

n=int(input('enter n : '))

for  i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321
123454321
12345654321
1234567654321

6.Loop Control Statement : 
1. break
2. continue
3. pass