Strings in Python : 

String : Sequence of Characters

In Python String : Sequence of Unicode Characters

1. Accessing Sub-Strings from stirngs :

In [ ]:
# 1. Creating Strings : 

s='hello'
s="hello"    # "it's raining "
s='''hello'''  # mutiline strings like writing blogs
s="""hello"""  # mutiline strings like writing blogs
s=str('hello')

print(s)

hello

In [5]:
# 2. Positive indexing : 

s='Donald Duck'

print(s[9])

c

In [8]:
# 3. Negetive indexing : 

s='Donald Duck'
print(s[-1])
print(s[-2])

k
c

In [26]:
#4. Slicing :

s='Donald Duck'
print(s[0:6])
print(s[6:])
print(s[:6])
print(s[0::2])
print(s[0::3])
print(s[10:0:-1])
print(s[::-1]) #reverse

Donald
 Duck
Donald
Dnl uk
Da c
kcuD dlano
kcuD dlanoD

In [ ]:
# 5. Slicing with neg indexing : 
s='Donald Duck'
print(s[-4::])
print(s[-1:-5:-1]) # in neg indexing the first num > second num -1>-5

Duck
kcuD

2. Editing and Deleting in Strings :

In [28]:
#Editing : Python Strings are immutable(can not be edited)
s='Donald Duck'
# s[0]='P'

In [ ]:
# Deleting : actually not :) in terms of memory 
s='Donald Duck'
del s # deletes the whole string 
#print(s)
#del s[-1:-5] not allowed as strings are immutable

3. Operations on String : 
   1. arithmetic
   2. relational
   3. logical 
   4. loops on strings
   5. membership operations

In [34]:
# 1.arithmetic : 

print('Dhaka'+' '+'Bangladesh')
print('hello '*5)
print('*'*7)

Dhaka Bangladesh
hello hello hello hello hello
*******

In [36]:
# 2.relational : 

print('canada'>'india')
print('Dhaka'<'dhaka')

False
True

In [46]:
# 3. logical : 

print('' and 'world') # '' means false 
print('' or 'world') # the result is true so it returns 'world' which means true
print('hello' and 'world') # python will check if the first one is ture or not , if the first one is ture, then it will check the second one , if the second one is true also , then it will return the second one 
print('hello' or 'world') # as the first one is true so no need to go further , return true
print(not '')
print(not 'hello')

world
world
hello
True
False

In [ ]:
# 4.Loops in String : 

for i in 'Dhaka':
    print(i,end=' ')

for i in 'Dhaka':
    print('Gulshan') # Gulshan will be printed 5 times

D h a k a Gulshan
Gulshan
Gulshan
Gulshan
Gulshan

In [49]:
# 5. Membership operators : 

print('D' in 'Dhaka')

print('d' in 'Dhaka')

True
False

4 . Functions on Strings : 

common functions : 
 1.len
 2.max
 3.min
 4.sorted

In [ ]:
#len : 
len('hello world')

11

In [ ]:
#max : will return the one with the maximum ascii value
max('hello world')

'w'

In [52]:
#min : will return the one with the minimum ascii value
min('hello world')

' '

In [54]:
#sorted : will return a list or sorted chars according to ascii : 

sorted('hello world')
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Othter Imoportant functions : 
 1.capitalize
 2.title
 3.upper
 4.lower
 5.swapcase

In [55]:
#1. capitalize : 
s='hello world'
s.capitalize()

'Hello world'

In [56]:
# 2. title : 

s='hello world'
s.title()

'Hello World'

In [59]:
# 3. upper :
s='hello world'
s.upper()
'hello'.upper()

'HELLO'

In [60]:
#4. lower : 
s='hello world'
s.lower()

'hello world'

In [61]:
#5.swapcase : 
s='Hello World'
s.swapcase()

'hELLO wORLD'

Other important functions : 
 1. count 
 2. find 
 3. index
 4. endswith
 5. startswith

In [76]:
#count : 
s='Sheikh Hasina is ousted'
s.count('k')

1

In [70]:
# find : gives the index where it stars , if not found return -1
s='Sheikh Hasina is ousted'
s.find('is')
s.find('x')

-1

In [72]:
# index : gives the index where it stars , if not found return error
s='Sheikh Hasina is ousted'
s.index('is')
#s.index('x')

14

In [ ]:
#startswith
s='Sheikh Hasina is ousted'
s.startswith('Sh')

True

In [78]:
#endswith 
s='Sheikh Hasina is ousted'
s.endswith('ed')
'Sheikh'.endswith('kh')

True

Format function :

In [ ]:
#format : 

name='Alvi'
age=24

'Hi my name is {} I am {} years old'.format(name,age)

'Hi my name is Alvi I am 24 years old'

In [79]:
name='Alvi'
age=24

'Hi my name is {1} I am {0} years old'.format(age,name)

'Hi my name is Alvi I am 24 years old'

more functions : 
 1. isalnum
 3. isalpha
 4. isdigit
 5. isidentifier

In [ ]:
# isalnum : alpha-numeric ?
'123abc'.isalnum()

True

In [82]:
#isalpha : alphabet ?
'ahc'.isalpha()

True

In [83]:
#isdigit : 

'123'.isdigit()

True

In [85]:
#isidentifier : 

'1name'.isidentifier()
'name1'.isidentifier()

True

Split/Join function :

In [89]:
#split : 
s='hi my name is Alvi'
print(s.split())
print(s.split('i'))
print(s.split('is'))

['hi', 'my', 'name', 'is', 'Alvi']
['h', ' my name ', 's Alv', '']
['hi my name ', ' Alvi']

In [ ]:
#join : 

print(' '.join(['hi', 'my', 'name', 'is', 'Alvi']))
print('-'.join(['hi', 'my', 'name', 'is', 'Alvi']))

hi my name is Alvi
hi-my-name-is-Alvi

Replace & Strip function :

In [ ]:
#replace : 
'I am from Dhaka'.replace('Dhaka','Manikganj')

'I am from Manikganj'

In [101]:
#stirp : 
'Alvi                      '.strip()

'Alvi'